[submodule "lib/stb"]
	path = Assignment 1/lib/stb
	url = https://github.com/nothings/stb
[submodule "Hazel/vendor/spdlog"]
	path = Assignment 2/Hazel/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Hazel/vendor/GLFW"]
	path = Assignment 2/Hazel/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Hazel/vendor/imgui"]
	path = Assignment 2/Hazel/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "hazel/vendor/glm"]
	path = Assignment 2/Hazel/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Assignment 2/tiny_bvh"]
	path = Assignment 2/tiny_bvh
	url = https://github.com/jbikker/tinybvh.git
