# Directories
.vs/
bin/
bin-intermediate/
Hazel/vendor/Glad/bin
Hazel/vendor/Glad/bin-int
Hazel/vendor/GLFW/bin
Hazel/vendor/GLFW/bin-int

# Files
.user
*.sln
*/*.vcxproj
*/*.vcxproj.filters
*/*.vcxproj.user
*/.vs/
Sandbox/Intel® VTune™ Profiler Results/*